@import url('https://fonts.googleapis.com/css?family=Pattaya|Rye');
nav.navbar{
    justify-content: center;
    font-family: 'Rye', cursive;
}
button[type=button]{
    
    background-color: darkkhaki;
}